.menu {
  z-index: 900;
}

.menu ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px auto;
  padding: 10px 0px;
  max-width: 750px;
}

.menu a {
  color: var(--text-light);
  text-decoration: none;
}

.menu a:hover {
  color: var(--accent);
}

.menu a.active, a.ancestor {
  color: var(--accent);
}

.top-level {
  position: relative;
  background-color: var(--bg);
}

.sub-level {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--bg), 0.5);
}

.sub-level ul {
  justify-content: space-between;
}

li {
  margin: 0px 20px;
}

/* header nav ul li a {
  display: inline-block;
  color: var(--text-light);
  text-decoration: none;
  background-color: var(--bg);
  border-radius: var(--standard-border-radius);
}

header nav ul li a:hover {
  color: var(--accent);
}

header nav ul li a.active, a.ancestor{
  color: var(--accent);
}
*/ 