{{ define "main" }}
  <div class="site-container {{ if .Params.style }} style-{{ .Params.style }} {{ else }} style-post {{ end }}">
    <div class="backdrop-container">
      <img src="media/BACKDROP.webp">
      <div class="gradient-overlay"></div>
    </div>

    <div class="content-container">
      <div class="hero-container">
        {{ if .Params.date }}
          <p class="project-date">{{ .Date | time.Format ":date_medium" }}</p>
        {{ end }}

        <h1 class="project-title">{{ .Title }}</h1>
        <p class="summary">{{ .Params.summary }}</p>
        <div class="details">
          {{ if .Params.programs_used }}
            <div class="programs_used">
                {{ range .Params.programs_used }}
                {{ $program := . | urlize }}
                <img class="logo" src="/logos/{{ $program }}-icon.svg" alt="{{ $program | humanize }} Icon">
                {{ end }}    
            </div>
          {{ end }}
          {{ if .Params.camera}}
            <div class="camera_details">
              <img class="camera_icon" src="/icons/generic-camera.svg">
              <p class="camera_name">{{ .Params.camera }}</p>
            </div>
          {{ end }}
        </div>
      </div>
      <br>
      <div class="post-content-container">
        {{ .Content }}
      </div>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
{{ end }}
