{{ define "main" }}
<div class="site-container">
  <div class="content-container">
      {{ .Content }}
      <div class="project-grid-container">
        {{ range sort .Pages "Weight" "desc"}}
        <a href="{{ .RelPermalink }}">
          <div class="project-item">
            {{ $coverPath := print .RelPermalink "media/COVER.png"}}
            {{ $coverPath_active := print .RelPermalink "media/COVER.gif"}}

            {{ if not (fileExists $coverPath_active) }}
              {{ $coverPath_active = $coverPath }}
            {{ end }}
            <div class="cover-container">
              <div class="cover-static">
                <img class="static" src="{{ $coverPath }}" alt="No Cover Image">
              </div>
              <div class="cover-active">
                <img class="active" src="{{ $coverPath_active }}" alt="">
              </div>
            </div>
            <div class="information-container">
              <div class="title-container">
                {{ .LinkTitle }}
                {{ if eq .Params.year "wip" }}
                  <span class="wip">In Development</span>
                {{ else }}
                  <span>{{ .Params.year }}</spa>
                {{ end }}
              </div>
              <p> Random Text zum Testen</p>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    <a>{{ .Pages }}</a>
  </div>
</div>
{{ end }}
