{{ define "main" }}
<style>

  .hero-header {
    height: 100vh;
    width: 100%;
    position: relative; /* Ensure this is positioned relatively */
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aliceblue;
    z-index: 1; /* Lower z-index so the overlay can be on top */
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--bg) 0%, rgba(0,0,0,0) 100%);
    z-index: 2; /* Higher z-index to overlay on the video */
  }

  .text-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  .text-overlay {
    width: 100%;
  }

  .text-overlay h1 {
    font-size: 6rem;
    margin-bottom: 0;
  }

  .text-overlay a {
    font-size: 6vw;
    text-decoration: none;
    border: 0.25vw solid var(--accent);
    border-radius: var(--standard-border-radius);
    padding: 10px 20px;
  }

  .arrow-down {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; 
    font-size: 2vw;
  }

  .arrow-down h2 {
    font-size: 6vw;
  }

  .row-container h2 {
    text-align: left;
    padding: 0px 30px;
    margin-top: 0px;
  }

  .row-container p {
    text-align: left;
    padding: 0px 30px;
  }

</style>

<div class="main-page">
  <div class="hero-header">
    {{ $coverPath := print .RelPermalink .Params.backdrop }}
    {{ if (strings.HasSuffix $coverPath ".mp4") }}
    <video class="cover lazy" data-autoplay="" autoplay="" webkit-playsinline="" playsinline="" loop="" muted="" data-object-fit="cover" src="{{ $coverPath }}" alt="No Cover Image"></video>
    {{ else }}
    <img class="cover" src="{{ $coverPath }}" alt="No Cover Image">
    {{ end }}
    <div class="gradient-overlay"></div>
    <div class="text-overlay-container">
      <div class="text-overlay selectable">
        <a href="https://www.youtube.com/watch?v=rP8DSzsbc2A" target="_blank">watch my showreel</a>
      </div>
    </div>
    <div class="arrow-down">
      <p>Discover my work</p>
      <p>↓</p>
    </div>
  </div>
  <div class="site-container">
    <div class="content-container">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
