{{ define "main" }}
  <style>
    .site-container {
      .title-container {
        background-color: var(--bg);
        border-radius: var(--standard-border-radius);
        padding: 0.5rem;
        border-color: var(--text);
        margin: 1rem 0 2rem 0;
      }
    }
  </style>

  <div class="site-container">
    <div class="content-container">
      <div class="title-container">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.year}}</p>
        <h4>{{ .Params.programs_used}}</h4>
      </div>
      <div class="content-container">
        {{ .Content }}
      </div>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
{{ end }}
