{{ define "main" }}
  <div class="site-container project-view">
    <div class="backdrop-container">
      <img src="media/BACKDROP.webp">
      <div class="gradient-overlay"></div>
    </div>

    <div class="content-container">
      <div class="title-container">
        <h1 class="project-title">{{ .Title }}</h1>
        <div class="details">
          {{ if .Params.year }}
            <p class="project-year">{{ .Params.year}}</p>
          {{ end }}
          <div class="programs_used">
            {{ if .Params.programs_used }}
              <p>Programs used: </p>
              {{ range .Params.programs_used }}
              {{ $program := . | urlize }}
              <img class="logo" src="/logos/{{ $program }}-icon.svg" alt="{{ $program | humanize }} Icon">
              {{ end }}    
            {{ end }}
          </div>
        </div>
      </div>
      <br>
      <div class="post-content-container">
        {{ .Content }}
      </div>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
{{ end }}
