{{ define "main" }}
<div class="main-page">
  <div class="hero-header">
    {{ $coverPath := print .RelPermalink .Params.backdrop }}
    {{ if (strings.HasSuffix $coverPath ".webm") }}
    <video class="cover lazy" data-autoplay="" autoplay="" webkit-playsinline="" playsinline="" loop="" muted="" data-object-fit="cover" src="{{ $coverPath }}" alt="No Cover Image"></video>
    {{ else }}
    <img class="cover" src="{{ $coverPath }}" alt="No Cover Image">
    {{ end }}
    <div class="gradient-overlay"></div>
    <div class="text-overlay-container">
      <div class="text-overlay">
        <h1>Hi. Iam Soeren.</h1>
      </div>
    </div>
    </div>
  </div>
  <div class="site-container">

    <div class="bento-grid">
      <div class="bento-item-1">
        <a href="/work/shorts">
            <img src="media/short_films_cover.webp" class="selectable-reverse">
            <p>Shorts</p>
        </a>
      </div>
      <div class="bento-item-2">
        <a href="/work/stils">
          <img src="media/stils_cover.webp" class="selectable-reverse">
          <p>Stills</p>
        </a>
      </div>
      <div class="bento-item-3">
        <a href="/work/small_animations">
          <img src="media/small_animations_cover.webp" class="selectable-reverse">
          <p>Animations</p>
        </a>
      </div>
      <div class="bento-item-4">
        <a href="/work/photography">
          <img src="media/photography_cover.webp" class="selectable-reverse">
          <p>Photography</p>
        </a>
      </div>
      <div class="bento-item-5">
        <a href="/work/coding">
          <img src="media/coding_cover.webp" class="selectable-reverse">
          <p>Coding</p>
        </a>
      </div>
    </div>

    <div class="content-container">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
