{{ define "main" }}
<div class="main-page">
  <div class="hero-header">
    {{ $coverPath := print .RelPermalink .Params.backdrop }}
    {{ if (strings.HasSuffix $coverPath ".webm") }}
    <video class="cover lazy" data-autoplay="" autoplay="" webkit-playsinline="" playsinline="" loop="" muted="" data-object-fit="cover" src="{{ $coverPath }}" alt="No Cover Image"></video>
    {{ else }}
    <img class="cover" src="{{ $coverPath }}" alt="No Cover Image">
    {{ end }}
    <div class="gradient-overlay"></div>
    <div class="text-overlay-container">
      <div class="text-overlay">
        <h1>Hi. Iam Soeren.</h1>
      </div>
    </div>
    </div>
  </div>
  <div class="site-container">
    <div class="content-container">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
