@import "_vars.scss";

.site-container.project-menu {

    p {
        font-size: 1.3rem;
        margin-bottom: 3rem;
        margin-top: 0.5rem;
        text-align: left;
    }

    .content-container {
        max-width: 1170px;
    }

    .project-grid-container {
        a {
            text-decoration: none;
            color: $text;
            min-width: 0px;
  
            .project-item {
                border-radius: $standard-border-radius;
        
                .information-container .title-container {
                    font-weight: bold;
                    text-align: left;
                    word-break: break-word;
                    overflow-wrap: break;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    padding: 0px;
                    margin: 10px 0px 0px 0px;

                    span.title {
                        color: $text-dark;
                        font-size: 1.5rem;
                    }

                    span.year {
                        background-color: transparent;
                        color: $text-darker;
                        padding: 5px 10px;
                        border-radius: $standard-border-radius;
                        vertical-align: middle;
                        border: 0.2rem solid $bg-lighter;
                    }

                    p {
                        margin: 0px;
                        text-align: left;
                        display: inline;
                    }
    
                }   
            }
        }
    }

    .project-grid-container.small {
        a {
            .project-item {
                display: flex;
                height: 100px;
                background-color: $bg-light;
                padding: 10px;
                margin: 10px;

                .cover-container {
                    aspect-ratio: 4/3;
                    margin-right: 15px;

                    div {
                        width: 100%;
                    }
                
                    .cover-static {
                        width: 100%;
                        height: 100%;
                        border-radius: $standard-border-radius;

                        img {
                            width: 100%;
                            height: 100%;
    
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        p {
          margin-top: 10px;
          margin-bottom: 5px;
        }
    }

    .project-grid-container.normal {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        width: 100%;
        gap: 30px;
        
        
        @media screen and (max-width: 400px) { // minwidth + 2 * main_padding
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    
        a {
            flex-direction: column;
            color: $text-darker;
            flex: 1 1 calc(50% - 40px); /* Adjust the 50% for different widths */
            min-width: 0px;
        
            .project-item {
                position: relative;
                border-radius: $standard-border-radius;

                .cover-static {
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    transition: opacity 0.5s;
                    border-radius: $standard-border-radius;

                    img {
                        aspect-ratio: 4 / 3;
                        object-fit: cover;
                    }
                }
    
                .cover-active {
                    overflow: hidden;
                    border-radius: $standard-border-radius;

                    video {
                        aspect-ratio: 4 / 3;
                        object-fit: cover;
                    }
                }
        
                .information-container .title-container {
                    font-weight: bold;
                    text-align: left;
                    word-break: break-word;
                    overflow-wrap: break;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    padding: 0px;
                    margin: 10px 0px 0px 0px;

        

                }   
            }

            .project-item:hover {
                .cover-container.animatable {
                    .cover-static {
                        opacity: 0;
                    }
                }
            }
        }
    
    }
}

