@import "_vars.scss";

.site-container.project-menu {
    margin-top: 130px;

    p {
        font-size: 1.3rem;
        margin-bottom: 6rem;
        text-align: center;
    }

    .content-container {
        max-width: 1170px;
    }

    .project-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        width: 100%;
        gap: 30px;
        
        
        @media screen and (max-width: 400px) { // minwidth + 2 * main_padding
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    
        a {
            text-decoration: none;
            flex-direction: column;
            color: $text;
            flex: 1 1 calc(50% - 40px); /* Adjust the 50% for different widths */
            min-width: 0px;
        
            .project-item {
                position: relative;
                border-radius: $standard-border-radius;
        
                .cover-static {
                    position: absolute;
                    width: 100%;

                    img {
                        aspect-ratio: 4 / 3;
                        object-fit: cover;
                        border-radius: $standard-border-radius;
                    }
                }
    
                .cover-active {
                
                    video {
                        aspect-ratio: 4 / 3;
                        object-fit: cover;
                        border-radius: $standard-border-radius;
                    }
                }
        
                .information-container .title-container {
                    font-weight: bold;
                    text-align: left;
                    word-break: break-word;
                    overflow-wrap: break;
                    font-size: 1.3rem;
                    line-height: 2rem;
                    padding: 0px;
                    margin: 10px 0px 0px 0px;

                    p {
                        margin: 0px;
                        text-align: left;
                        display: inline;
                    }
        
                    span {
                        background-color: $bg-lighter;
                        color: $text-light;
                        padding: 5px 10px;
                        border-radius: $standard-border-radius;
                        font-size: 1rem;
                        vertical-align: middle;
                    }
        

                }   
            }

            .project-item:hover {
                .cover-container.animatable {
                    .cover-static {
                        opacity: 0;
                    }
                }
            }
        }

    }
}

