@import "_vars.scss";

.site-container.project-view {
    margin-top: 0px;
    background-color: $bg;
    border-radius: $standard-border-radius;
    border-color: $text;
  
    .backdrop-container {
      width: 100%;
      height: 450px;
      position: relative;
    
      img, video {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 0px;
      }
  
      .gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, $bg 0%, rgba(0,0,0,0) 100%);
        z-index: 2; /* Higher z-index to overlay on the video */
      }
    }
  
    .content-container {
      position: relative;
      margin-top: -200px;
      margin-bottom: 50px;
      z-index: 10;
      background-color: $bg;
      border-radius: $standard-border-radius;
      box-shadow: 0 0 20px $bg;
    }
  }
  
.project-header-container {
  display: block;
  padding: 20px 0px 0px 0px;
  border-radius: $standard-border-radius;

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .project-title {
      font-size: 5rem;
      margin-right:20px;
      display: inline;

      @media only screen and (max-width: 1000px) {
        font-size: 3rem;
      }
    }
  
    .project-year  {
      background-color: $light-bg;
      border-radius: $standard-border-radius;
      padding: 10px 5px 5px 5px;
      margin: 0px;
      margin-top: -15px;
      display: inline;
      line-height: 100%;
      font-size: 3rem;
    }
  }

  .details {

    .programs_used {

      display: flex;
      justify-content: center;

      img.logo {
        height: 40px;
        width: 40px;
        margin: 10px;
      }
    }
  }
}

.summary {
  text-align: center;
}