{{- /*
  Renders top-level and sub-level menus in separate <nav> elements, with active state handling for sub-level items.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $subMenu := slice }}
{{- $activeSubMenu := false }}

{{- with index site.Menus $menuID }}
<header>
  <div class="header-container">
    <nav class="top-level menu">
      <ul>
        {{- range . }}
          {{- $isActive := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
          {{- if $isActive }}
            {{- $activeSubMenu = true }}
            {{- $subMenu = .Children }}
          {{- end }}
          {{- $attrs := dict "href" .URL }}
          {{- if $isActive }}
            {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
          {{- end }}
          <li>
            <a {{- range $k, $v := $attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>
              {{- with .Identifier }} {{- with T . }} {{- . }} {{- end }} {{- else }} {{- .Name }} {{- end }}
            </a>
          </li>
        {{- end }}
      </ul>
    </nav>

    {{- if $activeSubMenu }}
    <nav class="sub-level menu">
      <ul>
        {{- range $subMenu }}
          {{- $subIsActive := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
          {{- $subAttrs := dict "href" .URL }}
          {{- if $subIsActive }}
            {{- $subAttrs = merge $subAttrs (dict "class" "active" "aria-current" "page") }}
          {{- end }}
          <li>
            <a {{- range $k, $v := $subAttrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>
              {{- with .Identifier }} {{- with T . }} {{- . }} {{- end }} {{- else }} {{- .Name }} {{- end }}
            </a>
          </li>
        {{- end }}
      </ul>
    </nav>  
  </div>
{{- end }}
</header>
{{- end }}

