<!-- {{- $menuName := .menuName }} -->
{{ $menuName := "Shorts" }}


<div class="post-list-preview">

    {{ with index site.Menus "main" }}
        {{ range . }}
            {{ if eq .Name "Notes" }} 
                {{ range .Page.Pages }}
                <div class="post-list-item selectable">
                    <a class="selectable" href=" {{ .RelPermalink }} ">
                        <p>{{ .Title }}</p>
                    </a>
                </div>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
