<div class="bento-grid">
  <div class="bento-item id-1">
    <a href="/work/shorts" class="select-sensor">
        <img src="media/short_films_cover.webp" class="zoomer-rev">
        <div class="bento-gradient"></div>
        <p>Shorts</p>
    </a>
  </div>
  <div class="bento-item id-2">
    <a href="/work/stils" class="select-sensor">
      <img src="media/stils_cover.webp" class="zoomer-rev">
      <div class="bento-gradient"></div>
      <p>Stills</p>
    </a>
  </div>
  <div class="bento-item id-3">
    <a href="/work/animations" class="select-sensor">
      <img src="media/small_animations_cover.webp" class="zoomer-rev">
      <div class="bento-gradient"></div>
      <p>Animations</p>
    </a>
  </div>
  <div class="bento-item id-4">
    <a href="/work/photography" class="select-sensor">
      <img src="media/photography_cover.webp" class="zoomer-rev">
      <div class="bento-gradient"></div>
      <p>Photography</p>
    </a>
  </div>
  <div class="bento-item id-5">
    <a href="/work/coding" class="select-sensor">
      <img src="media/coding_cover.webp" class="zoomer-rev">
      <div class="bento-gradient"></div>
      <p>Coding</p>
    </a>
  </div>
</div>
  

