.project-grid-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;

    align-content: center;

    a {
        text-decoration: none;
        color: var(--text);
        flex: 1 1 calc(50% - 40px); /* Adjust the 50% for different widths */

        .project-item {
            position: relative;
            width: 100%;
            height: 100%;

            /*
            background-color: var(--accent-bg);
            border-radius: var(--standard-border-radius);
            */

            img {
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
                border-radius: var(--standard-border-radius);
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .information-container {
            
                .title-container {
                    text-align: center;
                    line-height: 1rem;
                    white-space: nowrap;
                    font-weight: normal;
                    font-size: 1.5rem;
                    margin-top: 10px;
        
                    span {
                        font-weight: lighter;
                        background-color: var(--light-bg);
                        color: var(--text);
                        padding: 4px;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        border-radius: var(--standard-border-radius);
                        margin: 0.5rem;
                        font-size: 1rem;
                    }

                    .wip {
                        background-color: green;
                    }

                }

            }
    
            .cover-static {
                position: absolute;
                width: 100%;
            }
        }

        .project-item:hover .cover-static {
            opacity: 0;
        }
    }

    @media screen and (max-width: 600px) { /* Adjust 600px to your preference */
        a {
            flex-basis: 100%; /* Full width on small screens */
        }
    }
}