@import "_vars.scss";

footer {
    display: flex;
    justify-content: center;

    .footer-container {
        max-width: 1000px;
        text-align: center;
        padding: 10px;
        color: $text-light;
        /* border-top: 1px solid var(--border); */
        background-color: $bg-light;
    }

    margin-bottom: 100px;
}