header {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  /*padding: 0 0.5rem 2rem 0.5rem;*/
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--accent-bg);
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: center;
}

header nav ul li a {
    display: inline-block;
    padding: 0px 40px;
    margin: 0px 10px;
    color: var(--text);
    text-decoration: none;
  }

header nav ul li a:hover {
    color: var(--accent);
  }

header nav ul li a.active, a.ancestor {
    color: var(--accent);
  }