@import "_vars.scss";

/* Default Elements */
/* $$$$$$$$ */

html {
  font-family: $sans-font;
  scroll-behavior: smooth;
}

body {
  color: $text;
  background-color: $bg;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: left;
  margin: 0px;
}

img {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
}

video {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
}

/* Format headers */
/* $$$$$$$ */

::selection {
  color: $bg;
  background: $text;
}

h1 {
  font-size: 8rem;
  margin: 0px;
  font-weight:bold; 
  font-family: $sans-font;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

p {
  margin: 1.5rem 0;
  color: $text-light;
  font-size: 1.5rem;
}

a {
  color: $text;
}

@media screen and (max-width: 1500px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}

/* Reusable Parts */
/* $$$$$$$ */

.selectable, .selectable-reverse {
  transition: scale 0.15s;
}

.selectable:hover {
  scale: 0.99;
}

.selectable-reverse:hover {
  scale: 1.025;
}



/* Specific Elements */
/* $$$$$$$$- */

.site-container {
  margin-top: 130px;
}

.content-container {
  padding: 0 25px;
  max-width: 1000px;
  min-width: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

@import "layouts/header.scss";

@import "pages/project-menu.scss";
@import "pages/single.scss";
@import "pages/work.scss";
@import "pages/about.scss";

@import "components/lite-yt-embed.scss";
@import "components/own-gallery.scss";
@import "components/row.scss";
@import "components/cv-timeline.scss";
@import "components/text.scss";

@import "layouts/footer.scss";
