:root,
  ::backdrop {
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --standard-border-radius: 5px;

    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }

html {
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

body {
  color: var(--text-light);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  margin: 10rem;
  text-align: center;
}

h1 {
  color: var(--text)
}

a {
  color: var(--text);
}

.cover-grid-container {
  display: inline-grid;
  column-gap: 60px;
  row-gap: 30px;
  grid-template-columns: auto auto;
  align-content: center;
}

.cover-grid-container a {
  text-decoration: none;
}

.cover-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.cover-item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

nav > ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Aligns children in a row */
  flex-wrap: nowrap; /* Prevents wrapping into a new line */
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--accent-bg);
  color: var(--text);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: var(--accent);
  color: var(--accent-bg);
}

nav ul li a:active {
  background-color: var(--accent);
  color: var(--accent-bg);
}

.header {
  display: inline-box;
}