:root {
    --darkgrey : rgb(10, 10, 10);
    --grey: rgb(30, 30, 30);
    --lightgrey: rgb(40, 40, 40);
    --text: rgb(255, 255, 255);
}

html {
    font-family: sans-serif;
    background-color: var(--darkgrey);
    color: var(--text)
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grey);
    transition: all 0.5 ease;
    border-radius: 20px;
}

li {
    float: left;
    padding: 5px 5px;
}

li a, .dropbtn {
    display: inline-block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
    line-height: 5px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: var(--lightgrey);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: flex;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--lightgrey);
}

.dropdown:hover .dropdown-content {
    display: flex;
}