gallery-image scale_25 {
  width: 25%;
}

gallery-image {
  width: 50%;
}

gallery-image scale_75 {
  width: 75%;
}

gallery-image scale_100 {
  width: 100%;
}

video {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
}

img {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}