img {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.scale_25 {
  width: 25%;
}

img.scale_50 {
  width: 50%;
}

img.scale_75 {
  width: 75%;
}

img.scale_100 {
  width: 100%;
}

video {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
}

