<style>
    .content-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .content-section.text-right {
        flex-direction: row-reverse; /* Reverse the order */
    }

    .content-section .text,
    .content-section .image {
        width: 48%;
    }

    .content-section .image img {
        width: 100%;
        height: auto;
    }

    @media (max-width: 768px) {
        .content-section,
        .content-section.text-right {
            flex-direction: column;
        }

        .content-section .text,
        .content-section .image {
            width: 100%;
        }
    }
</style>

<div class="content-section {{ if isset .Params "layout" }}{{ if eq (.Get "layout") "text-right" }}text-right{{ end }}{{ end }}">
    <div class="text">
        {{ .Inner }}
    </div>
    <div class="image">
        <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
    </div>
</div>
