{{ $display := .Get "display" | default "normal" }}

<div class="site-container project-menu">
  <div class="content-container">
      {{ .Inner }}
      <div class="project-grid-container {{ $display }} ">
        {{ $page_index := 1 }}
        {{ range (sort .Page.Pages "Weight" "asc").Reverse }}
        <a href="{{ .RelPermalink }}" {{ if eq $page_index 1 }} class="hero" {{ end }}>
          <div class="project-item selectable">
            {{ $coverPath := print .RelPermalink "media/COVER.webp" }}
            {{ $coverPath_active := print .RelPermalink "/media/COVER.webm" }}


              <div class="cover-container {{ if (fileExists $coverPath_active) }} animatable {{ end }}">
                <div class="cover-static">
                  <img class="static" src="{{ $coverPath }}" alt="No Cover Image">
                </div>
                {{ if eq $display "normal"}}
                  <div class="cover-active">
                    <video autoplay muted loop class="active" src="{{ $coverPath_active }}" alt="">
                  </div>
                {{ end }}
              </div>

            <div class="information-container">
              <div class="title-container">
                <p>
                  {{ .LinkTitle }}
                </p>
                {{ if .Params.year }}
                  {{ if eq .Params.year "wip" }}
                    <span class="wip">In Development</span>
                  {{ else }}
                    <span>{{ .Params.year }}</span>
                  {{ end }}
                {{ end }}
              </div>
            
              <div class="summary">
                <p>
                  {{ .Params.Summary }} 
                </p>
              </div>
            </div>
          </div>
        </a>
        {{ $page_index = add $page_index 1 }}
        {{ end }}
      </div>
  </div>
</div>
  
