<!-- layouts/shortcodes/projectGrid.html -->
<div class="site-container project-menu">
    <div class="content-container">
        {{ .Inner }}
        <div class="project-grid-container">
          {{ range sort .Page.Pages "Weight" "desc"}}
          <a href="{{ .RelPermalink }}">
            <div class="project-item selectable">
              {{ $coverPath := print .RelPermalink "media/COVER.webp" }}
              {{ $coverPath_active := print .RelPermalink "/media/COVER.webm" }}
  
              {{ if (fileExists $coverPath_active) }}
                <div class="cover-container animatable">
                  <div class="cover-static">
                    <img class="static" src="{{ $coverPath }}" alt="No Cover Image">
                  </div>
                  <div class="cover-active">
                    <video autoplay muted loop class="active" src="{{ $coverPath_active }}" alt="">
                  </div>
                </div>
              {{ else }} 
                <div class="cover-container">
                  <div class="cover-static">
                    <img class="static" src="{{ $coverPath }}" alt="No Cover Image">
                  </div>
                  <div class="cover-active">
                    <video autoplay muted loop class="active" src="{{ $coverPath_active }}" alt="">
                  </div>
                </div>
              {{ end }}
  
              <div class="information-container">
                <div class="title-container">
                  {{ .LinkTitle }}
                  {{ if .Params.year }}
                    {{ if eq .Params.year "wip" }}
                      <span class="wip">In Development</span>
                    {{ else }}
                      <span>{{ .Params.year }}</span>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </a>
          {{ end }}
        </div>
    </div>
  </div>
  