<style>
    .row-content {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        margin: 0px 0px 50px 0px;
        padding: 10px 10px 5px 10px;
        background-color: var(--accent-bg);
        border-radius: var(--standard-border-radius);
    }

    img {
        width: 100%;
        object-fit: contain;
    }

    a {
        text-decoration: none;
    }

</style>

<!-- /*{{ if eq (.Get "align") "right" }} text-right{{ else }}text-left{{ end }}*/ -->
<div class="row-container">
{{ if .Get "link" }}
    <a href="{{ .Get "link" }}">
        <div class="row-content selectable">
            {{ .Inner }}
        </div>
    </a>
{{ else }}
    <div class="row-content">
        {{ .Inner }}
    </div>
{{ end }}
</div>